<div class="account-nav-wrapper">
    <!-- <account-nav-directive></account-nav-directive> -->
    <div class="myaccount-container">
        <div class="current-user">
            <h4>Name<h4>
            <input type="text" placeholder="{{parent.name}}" ng-model="parent.name">
            <h4>Email<h4>
            <input type="text" placeholder="{{parent.email}}" ng-model="parent.email">
            <h4>Phone Number<h4>
            <input type="text" placeholder="{{parent.phone}}" ng-model="parent.phone">
        </div>

        <div class="children-wrapper">
            <div class='myaccount-child edit-child-buttons' ng-repeat="child in parent.children">
                <h4>Child Name</h4>
            <input type="text" placeholder="{{child.name}}" ng-model="child.name">
            <h4>Birthdate</h4>
            <input type="text" placeholder="{{child.birthdate | date}}" onfocus="(this.type='date')" ng-model="child.birthdate" />
            <div ng-show="child.length.schedule_id">None</div>
            <a ng-click="remove(parent.children, $index)">Remove</a>
        </div>


<!-- this is a test to see if I can get this to work -->
        <div class='myaccount-child edit-child-buttons' ng-repeat="itemToAdd in itemsToAdd">
            <h4>Child Name</h4>
            <input type="text" ng-model="itemToAdd.childName" />
            <h4>Birthdate</h4>
            <input type="date" ng-model="itemToAdd.birthdate" />
            <a ng-click="removeItemToAdd(itemToAdd, $index)">Remove</a>
        </div>
        <div>
            <button class="btn btn-outline-* dark-button account-setup-button" ng-click="addNew()">Add new</button>
        </div>
<!--  -->

    </div>
    <div>
        <button class="btn btn-outline-* dark-button account-setup-button" type="button" ng-click="editAccount(parent, itemsToAdd)">Update Account</button>
    </div>

</div>
</div>
