<div class="account-nav-wrapper">
    <!-- <account-nav-directive></account-nav-directive> -->
    <div class="myaccount-container">
        <div class="current-user">
            <h1>{{parent.name}}</h1>
        </div>


        <div class="children-wrapper">
            <div class='myaccount-child edit-child-buttons' ng-repeat="child in parent.children">
                <h3>{{child.name}}</h3>
                <p>{{child.birthdate | date}}</p>
                <div ng-show="child.length.schedule_id">None</div>
            </div>
            <div class="myaccount-child">
              <h3>Add Child</h3>
              <p class="addChildAdd">+</p>
            </div>




        </div>


        <div>
            <button class="btn btn-outline-* dark-button account-setup-button" type="button">Update Account</button>
        </div>

    </div>
</div>
