
	<div class="detox-container">
		<img src="./images/tree.jpg">
		<h3 class="detox-headings">Detox</h3>
    <p>
      Camp Wasatch is dedicated to helping the all people to find a balance in this world of technology. This balanced is achived by:
		</p>
			<div class='detox-list-container'>
				<li class='detox-list'>Reconnecting with nature.</li>
				<li class='detox-list'>Outdoor Recreational Activities.</li>
				<li class='detox-list'>Separating participants from their phones, screens, or technology. </li>
				<li class='detox-list'>Giving lasting, meaningful training to maintain a balance after campers return to their families and careers.</li>
			</div>




	<h3 class="detox-headings">7 Habits</h3>

</div>

<div class='button-container'>
	<button class='buy-button'>Reserve Your Spot Now!</button>
	<div>
