<div class="menu-wrapper">
<div class="menu-container">

	<div href="#" class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
  </div>

		<div class='large-menu' >
			<a ui-sref='home'>HOME</a>
			<a ui-sref='about'>ABOUT</a>
			<a ui-sref='detox'>7HABITS</a>
			<a ui-sref='registration' class="bold">REGISTER NOW</a>
		</div>
		<div class='small-menu' >
			<a ui-sref='home'>HOME</a>
			<a ui-sref='about'>ABOUT</a>
			<a ui-sref='detox'>7HABITS</a>
			<a ui-sref='registration' class="bold">REGISTER NOW</a>
		</div>
	</div>
<div class="bump-padding"></div>
</div>
