
	<div class="home-container">

		<img class="logo" src="./images/logo/just-logo-white.png" alt="" />
		<h1>Camp Wasatch</h1>
		<!-- <h3 >FINDING BALANCE IN AN UNBALANCED WORLD</h3> -->
<!--		<h3 >SEPT. 22-24 2016 \\ MILLCREEK CANYON \\ SALT LAKE CITY</h3>-->
	</div>
	<div class="home-body-container our-story ">
		<div class='space'></div>
		<!-- <h3>What is Camp Wasatch?</h3> -->
		<p id='intro-text'>
			<bold>Camp Wasatch</bold> is a weekend summer camp where adults detox from their digital devices. Campers will find ways to live a healthy balance between their work and home life while doing meaningful outdoor activites.
		</p>
	</div>
	 <div class='space'></div>
 <!-- <div class='home-photos'>
	<img src="./images/fire1.jpg">
	<img src="./images/fish.jpg">
	<img src="./images/sleepingBag.jpg">
</div> -->


<img class='skinnybanner' src="./images/skinnybark.jpeg" />
<div class='space'></div>
<h4 class='camp-description'>
	<p>Fun.</p>
	<p>Nature.</p>
	<p>Clearity.</p>
	<p>Detox.</p>
	<p>Re-Connect.</p>
</h4>


	<!-- <div class="home-body-container different">
	<h3>The Camp Wasatch Difference</h3>
	<p>
		Camp Wasatch is able to provide a unique experience by partnering with Franklin Covey, worldwide leader in performance improvement. Not only will participants detox from technology, they will learn skills to live more fulfilling family and work lives. Campers will leave feeling more balanced in their life and motivated to succeed in all areas without the distraction of devices.
	</p>
	<br>
	<p>
		This is not a seminar or a corporate retreat. Camp Wasatch is an outdoor summer camp for adults that has been infused with the Franklin Covey 7 Habits for highly effective people principles. While other camps provide a setting to get away from technology, the experiences and lessons learned from Camp Wasatch will provide lasting learning that will benefit each camper years after camp is over.
	</p>

	</div> -->
	<!-- <div class='space'></div>
<div class='home-photos'>
	<img src="./images/fire1.jpg">
	<img src="./images/fish.jpg">
	<img src="./images/sleepingBag.jpg">
</div> -->
	<!-- <div class="home-body-container partners">
	<div class='space'></div>
	<h3>Mission</h3>
	<p>In a world with the ever-growing influence of technology, people are getting
further and further away from what is real. As people’s lives get more infused with the internet the chasms between the digital world and the real world grow wider. We seek to provide an opportunity to reconnect, stay grounded, and find meaning. We seek to return to nature, return to being people, and return to what gives us lasting happiness.</p>
<br>
<p>
We aim to live our lives unbound from the demands of technology. We will
empower people with the confidence to not be ruled by their devices. The world will
never be rid of invasive technology or the internet, but we can learn to use it properly without it running our lives. Our goal is to give every camper a positive experience that will change how they use technology, make them a better family member, and give them a grounded foundation for their life.
</p> -->
	</div>
<div class='space'></div>
<div class='button-container'>
	<button href= class='buy-button'>
	<a href="https://www.eventbrite.com/e/camp-wasatch-tickets-26532910650#tickets">Reserve Your Spot Now!</a></button>
	<div>
