
	<div class="about-container">
		<img src="../images/trees.jpeg">
		<h3>Camp Decree</h3>
    <h4>
      Camp Wasatch is designed to help participants get away form the world of phones, emails, and social media pressures. To help with this goal there are rules that must be followed.
    </h4>
		<div class='rules-container'>
			<div class='rules'><i class="fa fa-tree fa-5x" aria-hidden="true"></i><li><h4>No devices:</h4></li><p> Leave your phones, tablets, mac books, and smart watches at home. This is your chance to be free from all technology.</p></div>
      <div class='rules'><i class="fa fa-pagelines fa-5x" aria-hidden="true"></i><li><h4>No business jargon:</h4></li><p>We want Camp to be about making real connections with people and nature. This means no work talk, no networking, and no job titles.</p></div>
			<div class='rules'><i class="fa fa-moon-o fa-5x" aria-hidden="true"></i><li><h4>No real names:</h4></li><p>This an opportunity lose yourself, so at Camp Wasatch we only use nicknames.</p></div>
			<div class='rules'><i class="fa fa-cutlery fa-5x" aria-hidden="true"></i><li><h4>Meals:</h4></li><p> All meals at Camp are provided for by world class catering. Let us know if you have any dietary restriciotns when you register.</p></div>
			<div class='rules'><i class="fa fa-bed fa-5x" aria-hidden="true"></i><li><h4>Length:</h4></li><p> Camp lasts for a total of 3 days, 2 nights.</p></div>
			<div class='rules'><i class="fa fa-binoculars fa-5x" aria-hidden="true"></i><li><h4>Pack:</h4></li><p> Be sure to bring a sleeping bag, clothes, toothbrush, sunglasses, sunscreen, swimming suit, hiking shoes. We will provide the lodging, the activities, the games, the training, and camp fire. </p></div>
		</div>
	</div>

<!--
	<div class="about-container">
		<div class="length">
			<h4>Length</h4>
			<p>
			Camp lasts 3 days, 2 nights.
  		</p>
		</div>
		<div>
			<h4>What to bring</h4>
			<p>
			Be sure to bring a sleeping bag, clothes, toothbrush, sunglasses, sunscreen, swimming suit, hiking shoes. We will provide the lodging, the activities, the games, the training, and camp fire.
  		</p>
		</div>
		<div>
			<h4>Meals</h4>
			<p>
			All meals at Camp are provided for by world class catering. Let us know if you have any dietary restriciotns when you register.
			</p>
		</div>

	</div>
-->

<div class='button-container'>
	<button class='buy-button'>Reserve Your Spot Now!</button>
	<div>
