/***************DETOX***************/
.detox-container{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	min-width: 300px;
	padding: 0 40px;
	text-align: left;
}

.detox-headings{
	font-size: 28px;
	font-weight: 500;
	padding: 10px 0;
}

.detox-container img{
	height: 45vh;
	width: 100vw;
	object-fit: cover;

}
.detox-container p{
	max-width: 800px;
	padding: 5px 15px;
}



.detox-list-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.detox-list{
	width: 45vw;
	font-size: 20px;
	padding-top: 20px
}
