ALWAYS USE A RESET CSS SYTLE SHEET
html, body, button, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
* {
  font-family: 'lato';
  line-height: 1.2;
  letter-spacing: 1.2;
  box-sizing: border-box; }
  * h1 {
    font-size: 3.5rem; }
  * h2 {
    font-size: 2.7rem; }
  * h3 {
    font-size: 2rem; }
  * h4 {
    font-size: 1.7rem; }
  * h5 {
    font-size: 1.5rem; }
  * p {
    font-size: 1.3rem;
    color: #757575; }

/* basic stylings ------------------------------------------ */
/* starting stylings ------------------------------- */
.group {
  position: relative; }

input {
  font-size: 18px;
  background-color: transparent;
  padding: 10px 10px 10px 5px;
  width: 300px;
  border: none; }

.light-input {
  border-bottom: 1px solid #fff; }

.dark-input {
  border-bottom: 1px solid #757575; }

input:focus {
  outline: none; }

/* LABEL ======================================= */
label {
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.light-label {
  color: #fff; }

.dark-label {
  color: #757575; }

/* active state */
input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #ffc107; }

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px; }

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.light-bar:before, .light-bar:after {
  background: #fff; }

.dark-bar:before, .dark-bar:after {
  background: #757575; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%; }

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

/* ANIMATIONS ================ */
body {
  background-image: url("./assets/images/geometry2.png"); }

.teachers-container .indiv-teacher {
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .teachers-container .indiv-teacher .circle-image {
    height: 350px;
    width: 350px;
    border-radius: 50%; }
  .teachers-container .indiv-teacher .teacher-blurb {
    max-width: 50vw; }
    .teachers-container .indiv-teacher .teacher-blurb h3 {
      color: #69D8DE;
      padding: 0 0 10px 0; }
    .teachers-container .indiv-teacher .teacher-blurb p {
      color: grey;
      letter-spacing: 1.2;
      line-height: 1.2; }

.account-nav-wrapper {
  margin: 20px 10vw;
  display: flex;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.account-nav-container {
  background-color: #00BCD4;
  display: flex;
  align-items: left;
  flex-direction: column;
  height: 100%;
  min-width: 10vw; }
  .account-nav-container .account-nav {
    color: #fff;
    transition: .5s;
    padding: 5px;
    text-decoration: none; }
  .account-nav-container .account-nav:hover {
    background-color: #0097a7; }

.account-setup-container {
  padding: 25px 100px 70px;
  font-size: 2rem; }

/* style all input elements with a required attribute */

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 35px;
  height: 40vh;
  width: 100vw;
  background-color: #0097a7; }
  .footer-container .first-half {
    display: flex;
    flex-direction: column; }
  .footer-container .half {
    padding: 5px 10px;
    display: flex;
    width: 45vw;
    height: 100%; }
    .footer-container .half .half-thirds {
      display: flex;
      justify-content: center;
      height: 43.33%;
      width: 45vw; }
      .footer-container .half .half-thirds img {
        margin-top: 20px;
        align-self: center;
        height: 14vh; }
    .footer-container .half i {
      color: #fff;
      display: inline-block;
      padding: 0 10px; }
    .footer-container .half i:hover {
      color: #69d8De;
      cursor: pointer;
      display: inline-block;
      padding: 0 10px; }
  .footer-container copyright {
    align-self: center;
    color: #69d8De;
    font-size: 2vh; }
    .footer-container copyright a {
      color: #69d8De;
      text-decoration: none; }
    .footer-container copyright a:hover {
      color: #b2ebf2; }

.testbutton {
  background-color: red;
  height: 50px;
  width: 50px; }

.image-container {
  height: 60vh;
  width: 100vw; }
  .image-container .homeImage {
    position: absolute;
    height: 60vh;
    width: 100vw;
    object-fit: cover; }
  .image-container figure:nth-child(1) {
    animation: xfade 30s 24s infinite; }
  .image-container figure:nth-child(2) {
    animation: xfade 30s 18s infinite; }
  .image-container figure:nth-child(3) {
    animation: xfade 30s 12s infinite; }
  .image-container figure:nth-child(4) {
    animation: xfade 30s 6s infinite; }
  .image-container figure:nth-child(5) {
    animation: xfade 30s 0s infinite; }

@keyframes xfade {
  0% {
    opacity: 1; }
  10% {
    opacity: 1; }
  20% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.middle-container1 {
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px #bdbdbd solid; }
  .middle-container1 h2 {
    padding: 25px 20px 0;
    color: #00BCD4;
    text-align: right; }
  .middle-container1 h5 {
    text-align: right;
    padding: 10px 20px 10px 0;
    color: #757575;
    max-width: 500px; }
  .middle-container1 p {
    text-align: right;
    padding: 0 20px 20px 0;
    max-width: 400px; }
  .middle-container1 .video {
    width: 576;
    height: 324; }

.middle-container2-title {
  font-size: 2rem;
  color: #00BCD4;
  padding: 40px 0 0 40px; }

.middle-container2 {
  padding: 0 30px 60px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px #bdbdbd solid; }
  .middle-container2 .card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .middle-container2 h4 {
    padding: 10px 0 2px 10px;
    background-color: #b2ebf2;
    color: #0097a7; }
  .middle-container2 .flex-middle-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    height: 256px; }
  .middle-container2 p {
    line-height: 1.5;
    padding: 5px 10px 10px; }

.middle-container3 {
  padding: 60px 20px 60px 40px;
  display: flex;
  justify-content: space-around; }
  .middle-container3 h3 {
    padding: 0 0 2px;
    color: #0097a7; }
  .middle-container3 img {
    opacity: 0.7;
    height: 300px;
    width: 290px; }
  .middle-container3 .about-music {
    max-width: 350px;
    min-width: 270px;
    padding: 0 0 0 10px; }

@media only screen and (max-width: 900px) {
  .logo-containter img {
    height: 22vh; }
  .middle-container2 {
    display: flex;
    flex-direction: column; }
    .middle-container2 .news-box {
      max-width: 800px; }
  .middle-container3 {
    display: flex;
    flex-direction: column; }
    .middle-container3 img {
      align-self: center; }
    .middle-container3 .about-music {
      max-width: 800px;
      padding: 0 5px; } }

.logo-containter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 35vh;
  background-color: #0097a7; }
  .logo-containter img {
    height: 28vh; }

.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  width: 100vw;
  background-color: #69d8De;
  z-index: 10; }
  .menu-container .routes {
    padding: 10px;
    font-size: 1.8rem;
    color: #ffffff;
    text-decoration: none;
    transition: 1s;
    align-self: center; }
  .menu-container .routes:hover {
    font-size: 1.9rem;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s; }
  .menu-container .login-nav-container {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #ffc107;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    height: 11vh;
    width: 11h;
    cursor: pointer;
    z-index: 20;
    border-radius: 999rem;
    transition: 0.5s; }
  .menu-container .login-nav-container:hover {
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.26); }

.registration-container {
  max-width: 1000px;
  letter-spacing: 1.2;
  line-height: 1.2;
  color: grey;
  padding: 0 50px 60px 100px; }
  .registration-container h2 {
    color: #69D8DE;
    font-size: 1.5rem; }
  .registration-container .lastname {
    width: 200px; }
  .registration-container .email {
    width: 250px; }
  .registration-container .address {
    width: 300px; }
  .registration-container input {
    line-height: 1.5; }

* {
  font-family: 'lato';
  line-height: 1.2;
  letter-spacing: 1.2;
  box-sizing: border-box; }
  * h1 {
    font-size: 3.5rem; }
  * h2 {
    font-size: 2.7rem; }
  * h3 {
    font-size: 2rem; }
  * h4 {
    font-size: 1.7rem; }
  * h5 {
    font-size: 1.5rem; }
  * p {
    font-size: 1.3rem;
    color: #757575; }

.fix {
  height: 200px; }

.schedule-container {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-around; }
  .schedule-container .schedule-group {
    width: 100%; }

.signup {
  background: #00BCD4;
  width: 200px;
  height: 150px;
  padding: 10px;
  margin: 10px; }

.schedule {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: grey;
  letter-spacing: 1.2;
  line-height: 1.2; }
  .schedule h2 {
    padding: 15px 0 5px;
    align-self: center; }
  .schedule p {
    align-self: center; }
  .schedule .schedule-titles-container {
    display: flex;
    justify-content: center;
    padding: 0 60px 0 0; }
    .schedule .schedule-titles-container h3 {
      font-size: 1.5rem; }
    .schedule .schedule-titles-container .schedule-titles {
      padding: 0 25px; }
  .schedule .about-registration-container {
    display: flex;
    justify-content: center;
    padding: 60px 100px 0 100px; }
    .schedule .about-registration-container .about-registration {
      padding: 0 10vw 0 0; }
      .schedule .about-registration-container .about-registration h3 {
        font-size: 1.5rem; }
      .schedule .about-registration-container .about-registration p {
        max-width: 400px; }
    .schedule .about-registration-container .tuition {
      max-width: 400px; }
      .schedule .about-registration-container .tuition h3 {
        font-size: 1.3rem; }
      .schedule .about-registration-container .tuition salmo {
        color: #FF7878; }

@media only screen and (max-width: 900px) {
  .schedule-titles {
    padding: 0 2px; }
  .about-registration-container {
    display: flex;
    flex-direction: column; }
  .tuition {
    padding-top: 15px; } }
