<div class="account-nav-wrapper">
  <account-nav-directive></account-nav-directive>
  <div class="registration-container">
    <div class="current-user">
      <h2>Hello {{parent.name}}</h2>
    </div>
    <div class="children" ng-repeat="child in parent.children">
      <!--TODO need to get age from getcurrent -->
      <h3>{{child.name}}</h3>
      <p>{{child.birthdate | date : 'longDate'}}</p>
      <h3>Current Class</h3>
      {{child.class_day}}
      {{child.class_time}}
    </div>








  </div>

</div>
