$dark-main: #0097a7;
$main: #00BCD4;
$mt-main: #69d8De;
$light-main: #b2ebf2;
$light-text: #fff;
$accent-color: #ffc107;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #bdbdbd;

.footer-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 35px;
  height: 40vh;
  width: 100vw;
  background-color: $dark-main;
  .first-half{
    display: flex;
    flex-direction: column;
  }
  .half{
  padding: 5px 10px;
  display: flex;
  width: 45vw;
  height: 100%;
    .half-half{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 43.33%;
      width: 45vw;
      .footer-button{
        outline: none;
        background-color: $main;
        margin-top: 10px;
        width: 300px;
      }
      img{
        align-self: center;
        height: 14vh;
      }
  }

    i{
			color: $light-text;
      display: inline-block;
      padding: 0 10px;
    }
    i:hover{
			color: $mt-main;
      cursor:pointer;
      display: inline-block;
      padding: 0 10px;
    }
  }
copyright{
  align-self: center;
  color: $mt-main;
  font-size: 2vh;
  a{
    color: $mt-main;
    text-decoration: none;
  }
  a:hover{
    color: $light-main;
  }
}


}
