.logo-containter {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 30vh;
	background-color: #F9FAFB;
	img {
		height: 28vh;
	}
}
.menu-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 8vh;
	width: 100vw;
	background-color: #69D8DE;
	a {
		font-size: 1.5rem;
		color: #fff;
		text-decoration: none;
		padding: 5px;
	}
	a:hover {
		color: grey;
		text-decoration: none;
		cursor: pointer;
	}
	h4 {
		font-size: 2rem;
	}
	input {
		margin-bottom: 10px;
		font-size: 2rem;
		height: 4rem;
		width: 100%;
	}
	.login-button{
		background-color: #FF7878;
		font-size: 1.5rem;
		color: white;
		height: 4rem;
		border: none;
		cursor: pointer;
		width: 100%;
	}
	.fb-login-button{
		background-color: #3B5998;
		font-size: 1.5rem;
		color: white;
		height: 4rem;
		border: none;
		cursor: pointer;
		width: 100%;
	}
	.g-login-button{
		background-color: #EA4335;
		font-size: 1.5rem;
		color: white;
		height: 4rem;
		border: none;
		cursor: pointer;
		width: 100%;
	}
	.modal-body{
		a{
			padding: 0;
		}
		p {
			padding-top: 10px;
			font-size: 1.3rem;
			.btn {
				padding: 0;
				font-size: inherit;
				vertical-align: inherit;
			}
		}
	}

}



// .login-modal{
// 	transition: width 2s, height 2s, background-color 2s, transform 2s;
//
// }
// .login-modal:hover{
// 	transition: width 2s, height 2s, background-color 2s, transform 2s;
// 	background-color: lightgrey;
// }

//trying to change the height of the object.
