$dark-main: #0097a7;
$main: #00BCD4;
$mt-main: #69d8De;
$light-main: #b2ebf2;
$accent-color: #ffc107;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #bdbdbd;
.image-container {
    height: 60vh;
    width: 100vw;
    .homeImage {
        position: absolute;
        height: 60vh;
        width: 100vw;
        object-fit: cover;
    }
    figure:nth-child(1) {
        animation: xfade 30s 24s infinite;
    }
    figure:nth-child(2) {
        animation: xfade 30s 18s infinite;
    }
    figure:nth-child(3) {
        animation: xfade 30s 12s infinite;
    }
    figure:nth-child(4) {
        animation: xfade 30s 6s infinite;
    }
    figure:nth-child(5) {
        animation: xfade 30s 0s infinite;
    }
    @keyframes xfade {
        0% {
            opacity: 1;
        }
        10% {
            opacity: 1;
        }
        20% {
            opacity: 0;
        }
        90% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
.middle-container1 {
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px $divider-color solid;
    h2 {
        padding: 25px 20px 0;
        color: $main;
        text-align: right;
    }
    h5 {
        text-align: right;
        padding: 10px 20px 10px 0;
        color: $secondary-text;
        max-width: 500px;
    }
    p {
        text-align: right;
        padding: 0 20px 20px 0;
        max-width: 400px;
    }
    .video {
        width: 576;
        height: 324;
    }
}
.middle-container2-title {
    font-size: 2rem;
    color: $main;
    padding: 40px 0 0 40px;
}
.middle-container2 {
    padding: 0 30px 60px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px $divider-color solid;
    .card {
        background: #fff;
        border-radius: 2px;
        display: inline-block;
        height: 300px;
        margin: 1rem;
        position: relative;
        width: 300px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    h4 {
        padding: 10px 0 2px 10px;
        background-color: $light-main;
        color: $dark-main;
    }
    .flex-middle-container2{
      display: flex;
flex-direction: column;
justify-content: center;
align-content: stretch;
height: 256px;

    }
    p {
        line-height: 1.5;
        padding: 5px 10px 10px;
    }
}
.middle-container3 {
    padding: 60px 20px 60px 40px;
    display: flex;
    justify-content: space-around;
    h3 {
        padding: 0 0 2px;
        color: $dark-main;

    }

    img {
        opacity: 0.7;
        height: 300px;
        width: 290px;
    }
    .about-music {
        max-width: 350px;
        min-width: 270px;
        padding: 0 0 0 10px;
    }
}
@media only screen and (max-width: 900px) {
    .logo-containter img {
        height: 22vh;
    }
    .middle-container2 {
        display: flex;
        flex-direction: column;
        .news-box {
            max-width: 800px;
        }
    }
    .middle-container3 {
        display: flex;
        flex-direction: column;
        img {
            align-self: center;
        }
        .about-music {
            max-width: 800px;
            padding: 0 5px;
        }
    }
}
