$dark-main: #0097a7;
$mt-main: #69d8De;
$main: #00bcd4;
$light-main: #b2ebf2;
$action-color: #ffc107;
$action-darken: #e6a800;
$light-text: #ffffff;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #bdbdbd;
// 1 Box
// margin, padding, display, etc.
// 2 Border & Background
// border, border-radius, background-color, etc.
// 3 Text
// color, font-size, text-transform, etc.
// 4 Other stuff
// animations, transforms, etc.
.logo-containter {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 35vh;
	background-color: $dark-main;
	img {
		height: 28vh;
	}
}
.menu-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 8vh;
	width: 100vw;
	background-color: $mt-main;
	z-index: 10;
	.routes {
		padding: 10px;
		font-size: 1.8rem;
		color: $light-text;
		text-decoration: none;
		transition: 1s;
	}
	.routes:hover {
		font-size: 2rem;
		text-decoration: none;
		cursor: pointer;
		transition: 0.2s;
	}
	.login-nav-container {
		background-color: $action-color;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		height: 11vh;
		cursor: pointer;
		z-index: 20;
		border-radius: 8px;
		transition: 0.5s;
		padding-top: 26px;
	}
	.login-nav-container:hover {
		box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.26);
	}
}


// TODO: SPENCER OR DONO HELP WITH MAKING THIS A SLIDE NAV
.account-nav-container{
	padding-top: 10px;
	display:none;
}

.myaccount-slidding-menu{
		// overflow: hidden;
}


  .account-nav{
    color: $light-text;
    transition: .5s;

    text-decoration: none;
		h5{
			padding: 0 10px 10px;
		}
  }
  // .account-nav:hover{
  // background-color: $dark-main;
  // }
