$dark-main: #0097a7;
$main: #00BCD4;
$mt-main: #69d8De;
$light-main: #b2ebf2;
$accent-color: #ffc107;
$light-text: #fff;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #bdbdbd;


.myaccount-container{
  padding: 60px 20px;
  color: grey;
    h1{
      color: $dark-main;
    }
    .myaccount-child{

    border: 1px solid $dark-main;
    border-radius: 8px;
    margin: 10px 10px 10px 0;
    padding: 0px 10px 0 10px;
  }
}


.children-wrapper{
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
