	$dark-main: #0097a7;
	$main: #00BCD4;
	$mt-main: #69d8De;
	$light-main: #b2ebf2;
	$accent-color: #ffc107;
	$light-text: #fff;
	$primary-text: #212121;
	$secondary-text: #757575;
	$divider-color: #bdbdbd;

	// 1 Box
	// margin, padding, display, etc.
	// 2 Border & Background
	// border, border-radius, background-color, etc.
	// 3 Text
	// color, font-size, text-transform, etc.
	// 4 Other stuff
	// animations, transforms, etc.

	.fix{
		height: 200px;

	}

	.schedule-container{
		padding-bottom: 60px;
	  display: flex;
		align-content: center;
	  flex-wrap: wrap;
		justify-content: space-around;
		.schedule-group{
				width: 100%;
		}
		h2{
			padding: 50px 0 20px;
			color: $dark-main;
		}
	}

	.signup{
		border-radius: 12px;
		cursor: pointer;
		background: $main;
	  width: 200px;
		height: 150px;
	  padding: 10px;
	  margin: 10px;
	}
