<div class="image-container">
    <div class="image-slideshow">
        <figure><img class='homeImage' src="./assets/images/MT/caro1.jpg"/></figure>
        <figure><img class='homeImage' src="./assets/images/MT/caro2.jpg"/></figure>
        <figure><img class='homeImage' src="./assets/images/MT/caro3.jpg"/></figure>
        <figure><img class='homeImage' src="./assets/images/MT/caro4.jpg"/></figure>
        <figure><img class='homeImage' src="./assets/images/MT/caro5.jpg"/></figure>
    </div>
</div>

<div class="middle-container1">
    <div>
        <h2>Music Together at Daybreak</h2>
        <h5 class="sub-header">Enriching the Lives of the Children <br>& their Families through Music</h5>
        <p>
            Music Together at Daybreak, founded by Debbie Hancock, is on a mission to enrich the lives of children and their families through the joy of music. In a happy and playful environment, children get to explore the wonders of music making with their family,
            friends and caregivers. Families start off with our fun-filled core program, Music Together, the internationally renowned music program for children Newborn to 5 yrs. This award winning program is a stand out among its peers because of it’s
            cutting edge research and specialized teacher training.
        </p>
    </div>

    <iframe class='video' src="https://www.youtube.com/embed/fe0Ccn3P7sY">
    </iframe>
</div>

<div class="middle-container2-title">
    Our Latest News
</div>
<div class="middle-container2">
    <div class="card">
        <h4>2016 FALL SEMESTER</h4>
        <div class="flex-middle-container2">

            <p>
                Join me for the Music Together Flute Collection! You’ll learn twenty-five new songs and activities that your family will enjoy in class and at home. Your children will love zooming to the moon like a "Rocketship". Wiggling and clapping to “Shake Those
                ‘Simmons Down,” and drumming to the Native American folksong “The Earth Is Our Mother.”
            </p>

        </div>

    </div>
    <div class="card">
        <h4>TUITION INCLUDES</h4>
        <div class="flex-middle-container2">
        <p>
            In addition to imaginative and engaging weekly classes, you will recieve a beautifully illustrated songbook with accompanying CD featuring award winning Music Together songs to use at home with your children, online access to the curriculum and support
            materials on the Family Music Zone, and a family newsletter full of resources great ideas.
        </p>
      </div>
    </div>
    <div class="card">
        <h4>FREE DEMOS CLASSES!</h4>
        <div class="flex-middle-container2">
        <p>
            Attending a free demo class is the best way for NEW FAMILIES to experience what a Music Together class is all about. Register for a free demo class today by clicking on “Sign In” at the top of the page and find out what parents have been raving about
            for nearly three decades!
        </p>
      </div>
    </div>
</div>
<div class="middle-container3">

    <img src="./assets/images/MTgraphic1-300x290.png" />
    <div class="about-music">
        <h3>What is MUSIC TOGETHER?</h3>
        <p>
            Music is a universal language. It transcends boundaries and bonds people the world around. It reaches beyond culture and language to touch the depths of our souls, express our common emotions and inspires us all.
        </p>
        <br>
        <p>
            Music Together is an international early childhood music and movement program for children from birth through 5.
        </p>
    </div>
    <div class="about-music">
        <p>
            First offered to the public in 1987, it pioneered the concept of a research-based, developmentally appropriate early childhood music curriculum that strongly emphasizes and facilitates adult involvement. Now serving 2,500 communities in over 40 countries,
            Music Together connects families and communities across the globe as they express and explore the basic human instinct for making music.
        </p>
        <br>
        <p>
            Are you ready to make Music Together? If you are, we have a class for you.
        </p>
    </div>
    <p>




    </p>


</div>
