<div class="footer-container">
<div class="first-half half">


  <div class="half-half">

        <div class="group">
            <input ng-submit="addEmail(email)" class="light-input" ng-model="email" type="text" required>
            <span class="highlight"></span>
            <span class="bar light-bar"></span>
            <label class="light-label">Join our mailing list</label>
        </div>
        <button type="button" class="btn btn-outline-* light-button footer-button" ng-click="addEmail(email)">submit</button>


  </div>



    <!-- <div class="half-thirds">
      <a href="mailto:music4families.debbie@gmail.com">
        <i class="fa fa-envelope fa-4x" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/Music-Together-at-Daybreak-1702186730019156/"><i class="fa fa-facebook fa-4x" aria-hidden="true"></i></a>
        <i class="fa fa-phone fa-4x" aria-hidden="true"></i>
    </div> -->
    <div class="half-half">
      <a href="https://www.musictogether.com/"><img src="./assets/images/weblink-white-MT.png" alt="" /></a>
    </div>

</div>
<div class="half">
  <copyright>
    “Music Together art & logo Music Together art & logo design copyright ©1992–2016 Music Together LLC. Music Together is a registered trademark. MusicTogether at Daybreak is licensed by Music Together LLC. For more Music Together locations: <a href="https://www.musictogether.com/">www.musictogether.com”</a>
  </copyright>
</div>

</div>

<!--TODO: make by button work again to add emails  -->
