<div class="teachers-container">
  <div class="indiv-teacher">
    <img class='circle-image'src="./assets/images/debbie.JPG" alt="imageofDebbie" />
    <div class="teacher-blurb">
      <h3>Debbie Hancock</h3>
      <p>
        Debbie Hancock is a warm Music Together teacher with a playful, dynamic and energetic style. Music has always been a large part of her life, not only as a teacher, but as a mother as well.
<br><br>
Debbie has 20 years of music teaching experience and a minor in early child music education from Utah Valley University. She has also been a Suzuki voice teacher, which allowed her to coach many different singing groups.
<br><br>
She is Kodály certified, which allows her to support music education of the highest quality, promote universal music literacy and advocate for lifelong music making. She has also participated in Orff and Dalcrose certification classes, which specialize in effective ways to teach music to children.
Her passion for teaching, music and dance drives is very apparent. Along with music classes, she has taught yoga and Zumba. She loves to play the guitar, ukulele and dabbles in African drumming.
<br><br>
Debbie fell in love with Music Together when she took her grandkids to a demo class in 2008.  She eagerly began her training to become a Music Together instructor in that same year. After her training, Debbie became an intern and eventually a teacher at a center in Salt Lake City, where she worked from 2009 to 2012. In 2015, she became licensed to operate her own center.
Now, as a Daybreak resident, a mother to five and a grandmother to eleven, she is super excited to share family music making with you and your little ones.
<br><br>
Teacher Debbie is a registered Music Together teacher.
      </p>

    </div>
  </div>
</div>
