<div class="schedule">
  <h2>Fall 2016 CLASS SCHEDULE</h2>
  <p>Classes run for 10 weeks and are mixed-age (0-5yrs)</p>
  <div class="schedule-titles-container">
    <div class="schedule-titles Location">
      <h3>Location</h3>
      <h4>Home Studio, <br>10763 S. South Jordan</h4>
    </div>
    <div class="schedule-titles day">
      <h3>Day</h3>
      <h4>Weds</h4>
      <h4>Thurs</h4>
    </div>
    <div class="schedule-titles time">
      <h3>Time</h3>
      <h4>9:15, 10:15</h4>
      <h4>9:15, 10:15</h4>
    </div>
    <div class="schedule-titles dates">
      <h3>Dates</h3>
      <h4>Sept. 14 - Nov. 16</h4>
      <h4>Sept. 15 - Nov. 17</h4>
    </div>
  </div>

  <div class="about-registration-container">
    <div class="about-registration">
      <h3>Registration & Fees</h3>
      <p>First Child - $145.00</p>
      <p>Sibling Fee - $70.00</p>
      <p>Sibling (8 mouths and under) - Free </p>
      <p>Registration Fee for new families - $15.00</p>
    </div>
    <div class="tuition">
      <h3>Tuition includes</h3>
      <ul>
        <li><salmo>❧</salmo> 10 weekly classes</li>
        <li><salmo>❧</salmo> A beautifully illustrated songbook with family activity suggestions, chord charts, & development information</li>
        <li><salmo>❧</salmo> 2 CD's featuring award winning Music Together songs</li>
        <li><salmo>❧</salmo> A download code for the current song collection</li>
        <li><salmo>❧</salmo> A musical growth and development chart</li>
        <li><salmo>❧</salmo> A subscription to "Play Along," the Music Together newsletter for families</li>
        <li><salmo>❧</salmo> Access the new Family Music Zone where you can explore informative and fun content</li>
      </ul>
    </div>
  </div>
</div>


<!-- <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" align="left" style="margin-right:7px;"> -->
